.drag-to-delete {
  margin-top: 1rem;
  height: 300px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  align-items: flex-start;
  gap: 1rem;
}

.target {
  display: flex;
  align-items: center;
}

span {
  width: 100%;
  text-align: center !important;
}

section {
  padding: 1rem;
}

.drag-to-reorder {
  margin-top: 1rem;
  height: 300px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  align-items: flex-start;
  gap: 1rem;
}
